<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">
        <img id="brand-image" alt="Brand" src="../images/lalalala turn.png" width="40px">
        <p id="brand-paragraph">
          Turn.App
        </p>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="example">
      <ul class="nav navbar-nav navbar-right">
        <li class="active clickclass"><a href="#">Home</a></li>
        <li><a class="clickclass" href="index.html">Log Out</a></li>
      </ul>
    </div>
  </div>
</div>
