<footer class="bs-docs-footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <h5 id="turn-email">info.turnapp@gmail.com</h5>
            </div>
            <div class="col-xs-6" style="padding-left: 50px">
                <a href="https://www.facebook.com/pr.turn/?fref=ts"><img src="../images/facebook-3.svg" alt="Facebook Icon" width="30px" />
                </a>
            </div>
        </div>
    </div>
</footer>
