<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button id="dropdown-button" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img id="brand-image" alt="Brand" src="../images/lalalala turn.png" width="40px">
        <p id="brand-paragraph">
          Turn.App
        </p>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="example">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#" class="clickclass" id="clickme2" style="padding-top: 20px;">Log In</a></li>
        <li><a href="#" class="clickclass" id="clickme" style="padding-top: 20px;">About Us</a></li>
        <li><a href="#" class="clickclass" id="clickme3" style="padding-top: 20px;">Subscribe</a></li>
        <li><a href="#" class="clickclass" id="clickme4" style="padding-top: 20px;">Contact Us</a></li>
      </ul>
    </div>
  </div>
</div>
