<div class="container-fluid">
    <form class="row" action="/register" method="post" style="padding-top: 70px">
        <div class="form-group row">
            <label for="firstName-input" class="col-xs-2 col-form-label">First Name</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" placeholder="First Name" id="firstName-input" name='data[firstName]'>
            </div>
        </div>
        <div class="form-group row">
            <label for="lastName-input" class="col-xs-2 col-form-label">Last Name</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" placeholder="Last Name" id="lastName-input" name='data[lastName]'>
            </div>
        </div>
        <div class="form-group row">
            <label for="email-input" class="col-xs-2 col-form-label">Email</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" placeholder="email@example.com" id="email-input" name='data[email]'>
            </div>
        </div>
        <div class="form-group row">
            <label for="password-input" class="col-xs-2 col-form-label">Create Password</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" placeholder="Enter Password" id="email-input" name='data[password]'>
            </div>
        </div>
        <div class="form-group row">
            <label for="website-input" class="col-xs-2 col-form-label">Website</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" placeholder="http://getbootstrap.com" id="website-input" name='data[website]'>
            </div>
        </div>
        <div class="form-group row">
            <label for="tel-input" class="col-xs-2 col-form-label">Telephone</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" placeholder="1-(555)-555-5555" id="tel-input" name='data[tel]'>
            </div>
        </div>
        <div class="form-group row">
            <label for="specialization-input" class="col-xs-2 col-form-label">Specialization</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" placeholder="Specialization" id="specialization-input" name='data[specialization]'>
            </div>
        </div>
        <div class="form-group row">
            <label for="address-input" class="col-xs-2 col-form-label">Address</label>
            <div class="col-xs-10">
              <input class="form-control" type="text" placeholder="Address" id="address-input" name="data[address][line]">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-offset-2 col-xs-2">
                <input class="form-control" type="text" placeholder="city" id="city-input" name="data[address][city]">
            </div>
            <!-- <div class="col-xs-4">
                <input class="form-control" type="text" placeholder="state" id="address-input" name="data[address.state]">
            </div> -->
            <div class="col-xs-2">
                <input class="form-control" type="text" placeholder="zipcode" id="zipcode-input" name="data[address][zipcode]">
            </div>
      </div>
        <div class="form-group row">
            <label for="insurance-local-input" class="col-xs-2 col-form-label">Insurance</label>
            <div class="col-xs-10">
                <input class="form-control" type="texttext" placeholder="Insurance" id="insurance-local-input" name='data[insurance]'>
            </div>
        </div>
        <div class="form-group row">
            <label for="schedule-input" class="col-xs-2 col-form-label">Schedule</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" placeholder="Working Hours" id="schedule-input" name='data[schedule]'>
            </div>
        </div>
        <div class="row">
          <div class="col-xs-offset-6 col-xs-4">
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
          </div>
        </div>
    </form>
</div>
