<div class="container-fluid">
    <div class="row" style="padding-top: 70px;">
        <article class="col-sm-12">
            <h1>Message Sent!</h1>
            <p>
                The text message was sent to {{patient.firstName}} {{patient.lastName}}, record number {{patient.recordNumber}}, to the phone number {{patient.phoneNumber}}.
            </p>
        </article>
    </div>
</div>
