<div class="container-fluid">
    <div class="row">

        <div id="date" class="col-xs-12 col-md-6" style="padding-top: 70px;">
            <h4>Sunday, April 10, 2016</h4>
            <p>
                Pick a date:
                <input type="text" id="datepicker">
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label class="select-hour" for="number">Select Hour</label>
            <select name="hour" id="hour">
      <option selected="selected">12:00</option>
      <option>1:00</option>
      <option>2:00</option>
      <option>3:00</option>
      <option>4:00</option>
      <option>5:00</option>
      <option>6:00</option>
      <option>7:00</option>
      <option>8:00</option>
      <option>9:00</option>
      <option>10:00</option>
      <option>11:00</option>
    </select>
            <label class="select-hour" for="pm-am">AM | PM</label>
            <select name="pm-am" id="pm-am">
      <option>PM</option>
      <option selected="selected">AM</option>
    </select>
        </div>
    </div>
</div>



<div class="container">

    <div class="row">
        <button class="btn btn-info" id="addRow" type="button" name="button" style="margin-top: 30px;">Add New Row</button>
    </div>

    <form id="sms-form" class="col-sm-12" action="/sms" method="post">
        <table id="smsTable" class="table row">
            <thead>
                <tr>
                    <th class="th-center">Patient Record Number</th>
                    <th class="th-center">Insert Message</th>
                    <th class="th-center">Reception</th>
                    <th class="th-center">Service</th>
                    <th class="th-center">Exit</th>
                    <th class="th-center">Send Message</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" name="record" class="form-control" aria-describedby="recordHelp" placeholder="Enter patient's record number.">
                        <small id="recordHelp" class="form-text text-muted">We'll never share the record number with anyone else.</small>
                    </td>
                    <td>
                        <textarea class="form-control" name="smsBody" rows="2" cols="30" form="sms-form">{{msg}}</textarea>
                    </td>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </td>
                </tr>
            </tbody>

        </table>
    </form>
